.web-name {
  color: white;
  font-size: 30px;
  margin-left: -10px;
  margin-bottom: 0;
  display: inline-block;
  font-family: fantasy;
}
/*ICONS-SETTING*/
.icon {
  font-size: 25px;
  color: darkgrey;
  display: inline;
}
.icon-name {
  color: white;
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  padding-left: 14px;
  margin: 0;
}
.icon-name a {
  text-decoration: none;
  color: white;
}
#web-icon {
  color: white;
  font-size: 40px;
  margin: 20px;
  margin-bottom: 20px;
}
/* ICON-SETTINGS END*/
/*LEFT SIDE PANEL*/
.llist {
  list-style: none;
  display: block;
  padding: 0;
  margin-left: 35px;
}
.llist li {
  margin-top: 20px;
}
#left-side-panel {
  display: inline-block;
  background-color: black;
  position: fixed;
  width: 17%;
  height: 100vh;
  min-width: 200px;
}
/*LEFT SIDE PANEL END*/
/*NAVIBATION BAR*/
#navigation {
  background-color: #111111;
  flex-wrap: wrap;
  flex-direction: row;
  height: 9vh;
  min-height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#back-front {
  background-color: #111111;
  flex-wrap: wrap;
  flex-direction: row;
  height: 9vh;
  min-height: 40px;
  display: flex;
  align-items: center;
}
.nav-container {
  background-image: linear-gradient(darkgrey -370%, black);
  display: flex;
  flex-wrap: wrap;
  float: right;
  width: 83%;
  height: auto;
  flex-direction: column;
}
/*NAVIBATION BAR END*/
/*BUTTON IN THE NAVIGATION BAR*/
.button {
  font-size: 14px;
  border-radius: 40px;
  width: 100px;
  height: 44.5px;
  margin-right: 15px;
}
.button:hover {
  height: 46px;
  font-weight: 700;
  background-color: lightgrey;
}
.button:hover .btn-txt {
  font-weight: 700;
}
.btn-txt {
  color: black;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0;
}
.btn-txt2 {
  color: #a7a7a7;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0;
}
.button2 {
  background-color: transparent;
  padding-right: 15px;
  border: none;
  margin-right: 10px;
}
.button2:hover .btn-txt2 {
  color: white;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0;
}

.button-back {
  font-size: 20px;
  border-radius: 550px;
  background-color: transparent;
  color: white;
  margin-left: 20px;
}
.button-back:hover {
  font-size: 20px;
  border-radius: 550px;
  background-color: transparent;
  color: white;
  margin-left: 18px;
  font-size: 22px;
}
/*BUTTON IN THE NAVIGATION BAR END*/
/*HEADING OF THE SECTION*/
.heading-of-section {
  padding-top: 2vw;
  padding-left: 3vw;
  color: white;
  font-size: 23px;
  font-family: "Oswald", sans-serif;
}
.heading-of-section a {
  text-decoration: none;
  color: white;
}
@keyframes changeFontSize {
  from {
    font-size: 23px;
  }
  to {
    font-size: 25px;
  }
}
.heading-of-section a:hover {
  animation-name: changeFontSize;
  animation-delay: 0.1s;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}
/*HEADING OF THE SECTION END*/
.boxes {
  height: 270px;
  width: 10vw;
  border: none;
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 10px;
  background-color: rgba(22, 22, 22, 0.6);
}
.thumbnails {
  width: 8.9vw;
  height: 150px;
  margin-top: 10px;
  border-radius: 5px;
}
.menu {
  display: flex;
  flex-direction: row;
}
.title-of-block {
  color: white;
  margin-top: -10px;
  margin-left: 11px;
}
.description-of-block {
  font-size: 13px;
  font-weight: 500;
  color: #a7a7a7;
  margin-left: 11px;
  margin-right: 11px;
}
@keyframes changeColor {
  from {
    background-color: rgba(22, 22, 22, 0.6);
  }
  to {
    background-color: rgb(37, 37, 37);
  }
}
.boxes:hover {
  animation-name: changeColor;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.play-logo {
  position: inherit;
  overflow: visible;
  margin-left: 85px;
  margin-top: -20px;
  margin-bottom: none;
  display: inline;
  opacity: 0;
  height: 40px;
  border-radius: 100%;
  width: 40px;
}
@keyframes changePlay {
  from {
    margin-top: -20px;
    opacity: 0;
  }
  to {
    margin-top: -85px;
    opacity: 1;
  }
}
.boxes:hover .play-logo {
  animation-name: changePlay;
  animation-delay: 0s;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.box-header-style {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.see-all {
  margin-top: 40px;
}
.see-all a {
  color: #a7a7a7;
  font-size: 14px;
  margin-right: 85px;
  margin-top: 60px;
}
/*music-player*/
#music-player {
  background-color: rgba(22, 22, 22, 1);
  height: 100px;
  width: 100%;
  color: white;
  overflow: visible;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.song-cover-photo {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}
.song-title {
  font-size: 15px;
  margin-left: 15px;
  font-weight: 500;
}
.song-title p {
  margin-bottom: 0;
}
.singer-name {
  color: #a7a7a7;
  font-size: 11px;
}
.music-player-icon {
  padding-left: 17px;
  font-size: 22.5px;
}
.music-player-icon:hover 
{
    font-size: 23.5px;
    padding-left: 16px;
}
#seek-music-bar
{
    width: 180%; 
    margin-left: -35%; 
    margin-top: 10px;
}
/*music player ends*/
/*thumbnails-singer*/
.thumbnails-singer {
  width: 10vw;
  height: 150px;
  margin-top: 10px;
  border-radius: 100%;
}
.boxes-singer {
  height: 270px;
  width: 12vw;
  border: none;
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 10px;
  background-color: rgba(22, 22, 22, 0.6);
}
.boxes-singer:hover {
  animation-name: changeColor;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.boxes-singer:hover .play-logo {
  animation-name: changePlay;
  animation-delay: 0s;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 1160px) {
  #left-side-panel {
    display: none;
  }
  .nav-container {
    width: 100vw;
  }
}